<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FEP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <h1>Frequency Error and Power Test Page</h1>
              <div class="container">
                <form method="post" class="input_form">
                  {{form.as_p}}
                  {% csrf_token %}
                  <input type="submit" class="btn btn-primary" value="Submit">
                </form>
              </div>
          </div>

          <table class="table table-striped table-dark">
              <thead>
                  <tr>
                      <th scope="col">Test_name</th>
                      <th scope="col">CH_Freq_MHz</th>
                      <th scope="col">Freq_Error_MHz</th>
                      <th scope="col">Fre_error_limit_Hz</th>
                      <th scope="col">Power_dBm</th>
                      <th scope="col">Power_limit_dBm</th>
                      <th scope="col">Screenshot_file</th>
                      <th scope="col">TimeStamp</th>
                  </tr>
              </thead>
              <tbody>
                  {% for fep in fepouts %}
                  <tr>
                      <td>{{ fep.Test_name }}</td>
                      <td>{{ fep.CH_Freq_MHz }}</td>
                      <td>{{ fep.Freq_Error_MHz }}</td>
                      <td>{{ fep.Fre_error_limit_Hz }}</td>
                      <td>{{ fep.Power_dBm }}</td>
                      <td>{{ fep.Power_limit_dBm }}</td>
                      <td>{{ fep.Screenshot_file }}</td>
                      <td>{{ fep.TimeStamp }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% for fep in fepouts %}
          <img src="{% static "result_images/fep/" %}{{fep.Screenshot_file}}" alt="pic not found." class="img-thumbnail">
          {% endfor %}
      </div>
  </body>
</html>
