<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <img src="{% static "images/GME.png" %}" alt="pic not found.">
        <h2>Search Equipment...</h2>
        <input method="post" type="submit" class="btn btn-primary" value="Go">
      </div>
      {% for eq in equips %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" aria-label="First name" class="form-control" value={{ eq.resadd }}>
        <input type="text" aria-label="Last name" class="form-control" value={{ eq.resid }}>
      </div>
      {% endfor %}

      <!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value={{ equip1 }}>
      </div> -->


      <a href="fep.html">go to FET test page</a>
    </div>
  </body>
</html>
