<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <img src="{% static "images/GME.png" %}" alt="pic not found.">
        <h2>Search Equipment...</h2>
      </div>

      {% for eq in equips %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" aria-label="resadd" class="form-control" value={{ eq.resadd }}>
        <input type="text" aria-label="resid" class="form-control" value={{ eq.resid }}>
      </div>
      {% endfor %}

      <!-- <form action="" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Assign selected equipment">
      </form> -->

      <a href="admin">go to admin page</a>
      <a href="fep">go to FET test page</a>
      <a href="mad">go to MAD test page</a>

    </div>

  </body>
</html>
