<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <h1>Spurious Response Test Page</h1>
              <div class="container">
                <form method="post" class="input_form">
                  {{form.as_p}}
                  {% csrf_token %}
                  <input type="submit" class="btn btn-primary" value="Submit">
                </form>
              </div>
          </div>
          <table class="table table-striped table-dark">
              <thead>
                  <tr>

                      <th scope="col">CH_Freq(MHz)</th>
                      <th scope="col">CH_Lev(dBuV)</th>
                      <th scope="col">IN_Freq(MHz)</th>
                      <th scope="col">IN_Lev(dBuV)</th>
                      <th scope="col">SR_dB</th>
                      <th scope="col">limit_dB</th>
                      <th scope="col">TimeStamp</th>
                  </tr>
              </thead>
              <tbody>
                  {% for sr in srouts %}
                  <tr>
                      <td>{{ sr.CH_Freq_MHz }}</td>
                      <td>{{ sr.CH_Lev_dBuV}}</td>
                      <td>{{ sr.IN_Freq_MHz }}</td>
                      <td>{{ sr.IN_Lev_dBuV }}</td>
                      <td>{{ sr.SR_dB }}</td>
                      <td>{{ sr.limit_dB }}</td>
                      <td>{{ sr.TimeStamp }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

      </div>
  </body>
</html>
